
 
 @font-face {
    font-family: Myriad;
    src: url("../POLICE/Myriad/MYRIADPRO-REGULAR.OTF") format("opentype");
  }
  
  @font-face {
    font-family: Uomo;
    src: url("../POLICE/UoMoFont/UomoCondensedRegular.otf") format("opentype");
  } 
  

body {
    width: 100%;

    margin: auto;

    font-family: 'Uomo', monospace !important;
    background: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navbar {
    position: relative;
    background-color: #313131;
    justify-content: center;
    font-size: x-large;
    height: auto;
    padding: 0;
}

.nav-item {
    text-transform: capitalize;
    margin-left: 10px;
}

.fixed-top {
    width: 80%;
    margin: auto;
}

.nav-admin {
    position: relative;
}

/* Modal */

.close {
    text-align: end;
    margin-top: 12px;
    margin-right: 12px;
}

.contact__logo {
    width: 70%;
}

.contact__form {
    width: 60%;
    margin: auto;
}


.nav-link {
    font-variant-caps: all-small-caps;
    color: #A9A9A9 !important;
}

.nav-link:hover {
    color: #FFE150 !important;
}

#inputNombre {
    border: 3px solid #ffED4D;
}

#inputMail {
    border: 3px solid #FF6712;
}

#inputMessage {
    border: 3px solid #FF4040;
}

.contact__items {
    display: flex;
    justify-content: space-around;
    font-size: initial;
    text-align: center;
    margin: 2rem 0;
}

.contact__items div {
    width: 33%;
}

.info{
    color: #333333;
}


.info:hover{
    text-decoration: none;
    color: #EDCE3A;
}
/* !Modal */


/* Product List by Category/subCategory */


.subCategory__title {
    font-size: 3rem;
    margin-bottom: 0;
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    font-family: 'Bungee Outline', cursive !important;
    color: rgb(17, 17, 17);
    text-decoration: underline 10px;


}

.name__camera {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.list_product__picture {
    position: relative;
    width: 100%;
}

.list_product__picture .image {
    display: inline;
    width: 100%;
    padding: 0rem 1rem;

}

/* !Product List by Category/subCategory */


.product__title {
    margin: 3rem;
    display: inline-block;
    padding-bottom: 1rem;
}

.product__video {
    padding: 0;
}

.product {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.home__header {
    display: flex;
}

.cont__logo {
    background-color: #ff6712;
    margin-bottom: -6rem;
    border-bottom-width: 7px;
    border-bottom-style: solid;
}

#logo {
    padding: auto;
    margin: auto;
    width: 65%;
    ;
}

.left,
.right {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 3.5rem 0.8rem;


}

.left ul,
.right ul {
    padding-left: 0px;
    list-style: none;
    font-style: normal;
}

.left h2,
.right h2 {
    margin-bottom: 5rem;
}

.container {
    padding-left: 2px;
    padding-right: 2px;
}



footer.footer {
    padding-bottom: 1rem;
    padding-top: 1rem;

}



.footer .container {
    padding-bottom: 0;
}


.mb-5,
.my-5 {
    margin-bottom: 0rem !important;
    margin-top: 15px;
}

label {

    text-align: center;
    font-size: x-large;
}

.images {
    display: flex;
    flex-direction: column;
}

.img-rounded {
    height: 300px;
    margin: 0.5rem 0;
}

.container-gallery {
    display: flex;
    margin: 2rem 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: center;
}




.img_carousel {
    height: 600px;
    width: auto !important;
    max-width: 100%;
    margin: auto;
}




.action__title {
    text-align: center;
}

.form {
    width: 80%;
    margin: auto;
}

.table {
    margin: 1Orem 0;
}

.list__picture {
    height: 10rem;
}

.list__title {
    text-align: center;
    margin: 3rem 0
}

.list__thead {
    text-align: center;
}

.list__tbody {

    text-align: center;
}

.list__tbody tr th,
.list__tbody tr td {
    vertical-align: middle;
}

/* Login */

.cont-login {
    height: 100vh;
}


/* !Login */



/** RESPONSIVE **/

@media screen and (max-width: 900px) {

    .img_carousel {
        width: 100%;
        height: auto;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Carroussel */
.carousel {
    position: relative;
}

.carousel-item img {
    object-fit: contain !important;
}

#carousel-thumbs {
    background: rgba(255, 255, 255, .3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
}

#carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
    border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

@media (min-width: 1500px) {
    body {
        width: 90%;
    }
}

@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
}

@media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: absolute;
    }
}

@media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: #ccccce;
    }
}



.BannerPrincipal {
    margin-bottom: -6px;
}

.BannerFijo {
    width: 60%;
    display: inline-block;
}

.BannerNoFijo {
    width: 39%;
    display: inline-block;
    clear: both;
}

.TitleProductos {
    width: 100%;
    background: #389DF5;
    text-align: center;
    color: #FFFFFF;
    font-size: 4rem;
    clear: both;
}

.Galery {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.Galery2 {
    width: 80%;
    margin: auto;
}

.Photo1 {
    width: 32%;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.Blur:hover {
    filter: blur(3px);
}

#TextFilmemos {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

footer {
    background: #313131;
    text-align: center;
    font-size: 15px;
    margin-top: 1.5rem;
    padding: 9px;
    color: #FFFFFF;
}

@media screen and (max-width: 900px) {
    .TitleProductos {
        font-size: 3rem;
    }

    .Photo1 {
        width: 100%;
    }

}



/* catalog */

body {
    margin: 0px;
    padding: 0px;
}

.tituloCatalogo {
    width: 100%;
    text-align:
        center;
    padding-top: 35px;
    font-size: 4rem;
}

.GaleriaCatologo {
    width: 80%;
    margin: auto;
}

.FotoCatalogo1 {
    width: 49%;
    display: inline-block;
    margin-top: 3rem;
}

@media screen and (max-width: 900px) {
    .FotoCatalogo1 {
        width: 100%;
    }

}

.titleFicha {
    font-size: 3rem;
    width: 20rem;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: solid;
    margin: auto;
    margin-top: 3rem;
}

.FotoInfo {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}

.FotoProducto {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.TxtInlcuye {
    border: solid;
    border-color: pink;
    vertical-align: top;
    margin-top: 2rem;
}

.Caracteristicas {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.TxtCaracteristicas {
    border: solid;
    border-color: pink;
    padding: 25px 0px;
}

.TxtInlcuye ul {
    padding-left: 0px;

}

/* @media screen and (max-width: 900px) {
	.titleFicha{ width:50%;}
	.FotoInfo{ width:100%;  }
	.FotoProducto{ width:100%; text-align: center; }
	.TxtInlcuye{ widows: 100px;%; font-size:.8rem;}
	.Caracteristicas{ width:90%;font-size:.8rem; }

} */

#detail_include {
    text-decoration: underline;
    font-weight: 700;
}


#detail_desc {
    text-decoration: underline;
    font-weight: 700;
}
/* Colors categories */
.Càmaras{
    color: #F34170;
    border-color: #F34170
}

.Optica{
    color: #F99621;
    border-color: #F99621

}

.Audio{
color: #14B7FF;
border-color: #14B7FF

}

.Iluminación{
    color: #EDCE3A;
    border-color: #EDCE3A;
}

.Soporte{
    color: #90DD17;
    border-color: #90DD17;
}

.Accesorios{
    color: #FF4040;
    border-color: #FF4040;
}
